@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

:root {
    --fondo: rgb(245, 245, 245);
    --gris: #ddd;
    --figura: #8FFF93;
}

::selection {
    background: transparent;
    color: #450A92;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Dela Gothic One', cursive;
    font-weight: 300;
    transition: all ease 0.25s;
}

body {
    line-height: 1.38;
}

a {
    color: #450A92;
    text-decoration: none;
}

a:hover {
    color: #450A92;
}

header {
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
    width: calc(100vw - 3.1rem);
    height: auto;
    background: rgba(238, 255, 235, 0.5);
    border: 3px solid rgba(143, 255, 147, 0.8);
    border-radius: 3px 3px;
    box-shadow: 0 0 5px rgba(143, 255, 147, 0.9);
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

header div {
    font-size: 0.9rem;
    padding: 0.75rem;
    color: #450A92;
}

header div h1 {
    font-size: calc(0.9rem + 1vw);
}

@media (orientation:portrait) {
    header div h1 span{
        display:none;
    }
}

header div input[type="color"] {
    border-radius: 3px 3px;
    width: 2rem;
    background: (#e3ffe4); color abajo de swatch
    padding: 0;
}

header div select {
    border-radius: 3px 3px;
    border: 1px solid #E3FFE4 bor;
    padding: 0.1rem 0.15rem 0.25rem 0.15rem;
    margin-left:1vw;
    width: 20vw;
}

@media (orientation: landscape) {
    header div select {
        width: 10vw;
    }
}

main button {
    position: absolute;
    bottom: 1.75rem;
    right: 1.75rem;
    width: 7rem;
    height: 7rem;
    border-radius: 50% 50%;
    border: 2px solid rgba(69, 10, 146, 0.05);
    background-color: rgba(69, 10, 146, 0.75);
    color: #8FFF93;
    letter-spacing: 0.075rem;
    text-align: center;
    box-shadow: 0 0 3px rgba(156, 0, 146, 0.5);
    outline: none;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

main button:hover {
    background-color: rgba(69, 10, 146, 1);
    box-shadow: 0 0 3px rgba(69, 10, 146, 0.75);
    cursor: pointer;
}

main {
    height: 100vh;
    width: 100vw;
}